<table class="table table-striped">
  <tr>
      <td>
          <label>Primer Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="consulta.primerNombre" contenteditable="false" disabled="disabled" />
      </td>
      <td>
          <label>Segundo Nombre</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.segundoNombre" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Primer Apellido</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.primerApellido" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Segundo Apellido</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.segundoApellido" contenteditable="false"
                 disabled="disabled" />
      </td>
  </tr>
  <tr>
      <td>
          <label>Cedula</label>

          <input type="number" class="form-control"
          [(ngModel)]="consulta.cedulaVotante" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Edad</label>

          <input type="number" class="form-control"
          [(ngModel)]="consulta.edadVotante" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Jurado</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.jurado" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Mesa</label>

          <input type="number" class="form-control"
          [(ngModel)]="consulta.mesaVoto" contenteditable="false"
                 disabled="disabled" />
      </td>
  </tr>
  <tr>
      <td>
          <label>Lugar Voto</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.lugarVoto" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Ciudad</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.ciudadVoto" contenteditable="false"
                 disabled="disabled" />
      </td>
      <td>
          <label>Departamento</label>

          <input type="text" class="form-control"
          [(ngModel)]="consulta.departamentoVoto" contenteditable="false"
                 disabled="disabled" />
      </td>
  </tr>
</table>

